<!DOCTYPE html>
<html>
	
<head>
	<title>KPI page</title>
	<script src="kpiJavaScript.js"></script>
	<link rel="stylesheet" type="text/css" href="KPI.css">
</head>

<body>
	<div class="header">
  		<img src="unnamed.jpg" />
  		<h1>Gianella cycles</h1>
	</div><!--
	<div class="menu">
		<ul>
			<li><a href="../Home screen/home.html">Home</a></li>
			<li><a href="../Input screen/inputitem.html">Input item</a></li>
			<li><a href="../Reports screen/categorized reports.html">Reports</a></li>
			<li><a href="#">KPI</a></li>
			<li><a href="../Settings (user) screen/User.html">Settings</a></li>
			<li><a href="../Login screen/login.html">Log out</a></li>
		</ul>
	</div>-->

	<nav>
		<ul>
			<li><a href="../Home/home.html">Home</a></li>
			<li><a href="../Item Entry/item_entry.html">Input item</a></li>
			<li><a href="../Reports/categorized reports.html">Reports</a></li>
			<li><a href="#">KPI</a></li>
			<li><a href="../Settings/User.html">Settings</a></li>
			<li><a href="../Login (index)/login.html">Log out</a></li>
		</ul>
	</nav>

	<div class="wrapper">
	<form class="form">
		First Name:
		<input type="text" name="firstName" id="firstName"><br>
		Last Name :
		<input type="text" name="lastName" id="lastName"><br>
		Price&emsp;&ensp;&ensp;&ensp;:
		<input type="text" name="price" id="price"><br>
		Comission :
		<input type="text" name="comission" id="comission"><br>
		<input type="button" value="Calculate" onclick="calculate()">
	</form>

	<div class="output">
		<table class="outputTable" id = "outputTable">
		  <tr>
		    <th>First name:</th>
		    <td></td>
		  </tr>
		  <tr>
		    <th>Last name:</th>
		    <td></td>
		  </tr>
		  <tr>
		    <th>Price:</th>
		    <td></td>
		  </tr>
		  <tr>
		    <th>Comission:</th>
		    <td></td>
		  </tr>
		  <tr>
		    <th>Amount made:</th>
		    <td></td>
		  </tr>
		</table>
		<button id="redo">Enter Another KPI</button>
	</div>

	</div>
</body>
</html>