<!DOCTYPE html>
<html>
<head>
	<title>System Users</title>
	<link rel="stylesheet" type="text/css" href="User.css">
</head>
<body>
	<div class="logo">
		<img id="imageLogo" src="../Images/Rnbw_Circle.png">
		<h1 id="company_name">Gianella Cycles</h1>
	</div>
	<nav>
		<ul>
			<li><a href="../Home/home.html">Home</a></li>
			<li><a href="../Item Entry/item_entry.html">Input item</a></li>
			<li><a href="../Reports/categorized reports.html">Reports</a></li>
			<li><a href="../KPI/kpi.html">KPI</a></li>
			<li><a href="#">Settings</a></li>
			<li><a href="../Login (index)/login.html">Log out</a></li>
		</ul>
	</nav>
	<div id = "search" align = "right">
		<form>
			<input type = "text" placeholder = "Search User"></input>
			<button type = "button">Search</button>
		</form>
	</div>
	<table id="userTable">
		<tr>
			<td>
				<h3>User 1</h3>
				<p>Bobby Harry</p>
			</td>
			<td>
				<h3>User 2</h3>
				<p>Bobby Harry</p>
			</td>
			<td>
				<h3>User 3</h3>
				<p>Bobby Harry</p>
			</td>
			<td>
				<h3>User 4</h3>
				<p>Bobby Harry</p>
			</td>
			<td>
				<h3>User 5</h3>
				<p>Bobby Harry</p>
			</td>
		</tr>
		<tr>
			<td>
				<h3>User 5</h3>
				<p>Bobby Harry</p>
			</td>
			<td>
				<h3>User 5</h3>
				<p>Bobby Harry</p>
			</td>
			<td>
				<h3>+</h3>
				<p>Add new user</p>
			</td>
		</tr>
	</table>
	<div id = "add">
		<!--method to make visible when add button clicked and hidden when user is added-->
		<form>
			<center>
			Add a new user to the system.</br></br>
			<input type = "text" placeholder = "User ID"></input></br></br>
			<input type = "text" placeholder = "Password"></input></br></br>
			<input type = "text" placeholder = "Confirm Password"></input></br></br>
			<input type = "text" placeholder = "First Name"></input></br></br>
			<input type = "text" placeholder = "Last Name"></input></br></br>
			<input type = "text" placeholder = "Role"></input></br></br>
			<button type = "submit">Add</button>
			</center>
		</form>
	</div>
	<div id = "edit">
		<form>
			<center>
			Edit a user in the system.</br></br>
			<input type = "text" placeholder = "Change User ID"></input></br></br>
			<input type = "text" placeholder = "Change Password"></input></br></br>
			<input type = "text" placeholder = "Confirm Password"></input></br></br>
			<input type = "text" placeholder = "Change First Name"></input></br></br>
			<input type = "text" placeholder = "Change Last Name"></input></br></br>
			<input type = "text" placeholder = "Change Role"></input></br></br>
			<button type = "submit">Apply</button>
			</center>
		</form>
	</div>
</body>
</html>