body {
	font-family: "verdana";
}

ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
	height: 50px;
	display: inline-block;
	border-top: 2.5px solid #626362;
	border-bottom: 2.5px solid #626362;
}
li {
	display: inline;
}

li a {
	margin: 25px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	color: #363736;
}

nav {
	text-align: center;
	line-height: 3em;
	padding-bottom: 50px;
}

.header img {
  float: left;
  width: 50px;
  height: 50px;
  background: #555;
}

.header h1 {
	  position: relative;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 100px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

form.form{
	position: relative;
	margin-top: 50px;
	float: left;
}

form.form input{
	margin-top: 10px;
}

.output {
	float: left;
	margin-left: 20%;
	margin-top: 50px
}
table.outputTable {
	border: 1px solid black;
	text-align: center;
	display: none;
}
.outputTable table, th, td{
	border: 1px solid black;
}
.outputTable td {
	width: 80%;
}
.outputTable tr{
	text-align: left;
}

.output #redo {
	display: none;
	background-color: red;
	margin-top: 10px;
}