<!DOCTYPE html>
<html>
	<head>
		<title>login Layout</title>
		<link rel="stylesheet" type="text/css" href="login.css">
		<script type="text/javascript" src="login.js"></script>
	</head>
	<body>
		<div>
			<header>
				<h1><img src="../Images/Rnbw_Circle.png">Gianella Cycles</img></h1>
			</header>

			<div class="loginBox">
				<form id="loginForm">
					<table id="loginTable">
						<tr>
							<td>Username:</td>
						</tr>
						<tr>
							 <td><input type="text" id="user"></td>
						</tr>
						<tr>
							<td>Password</td>
						</tr>
						<tr>
							<td><input type="text" id="pswd"></td>
						</tr>
					</table>
					<br>
					<input type="button" value="Login" id="lgn" onclick="nextPage();">
				</form>
			</div>
			<!--
			<section class="loginBox">
				<form>
					<fieldset>
						<legend>Login:</legend>
						Username: <input type="text" id="user"><br>
						Password: <input type="text" id="pswd"><br>
						<input type="button" value="Login" id="lgn" onclick="nextPage();">
					</fieldset>
				</form>
			</section>-->
	</body>
</html>