<!DOCTYPE html>
<html>
	<head>
		<title>Home screen</title>
		<link rel="stylesheet" type="text/css" href="home.css">
	</head>
	<body>
		<div class="logo">
			<img id="imageLogo" src="../Images/Rnbw_Circle.png">
			<h1 id="company_name">Gianella Cycles</h1>
		</div>

		<nav width="100%">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="../Item Entry/item_entry.html">Input item</a></li>
				<li><a href="../Reports/categorized reports.html">Reports</a></li>
				<li><a href="../KPI/kpi.html">KPI</a></li>
				<li><a href="../Settings/User.html">Settings</a></li>
				<li><a href="../Login (index)/login.html">Log out</a></li>
			</ul>
		</nav>

		<div class="content">
			<h1>Welcome [name here]!</h1>

			<div id="summary">
				<div id="summary_content">
					<div id="leftside">
						<p>Total number of items: 3,219</p>
						<p>Number of report categories: 7</p>
						<p>Highest depreciated item: CCM Racer bike</p>
					</div>
					<div id="rightside">
						<p>Categories:</p>
						<p>Bikes</p>
						<p>Tubes</p>
					</div>
				</div>
			</div>
			<div id="recent">
				<h2>Recently added items</h2>
				<table id="recent_table">
					<tr>
						<td>
							<h2>Item 1</h2>
							<p>Currently $285.00</p>
							<p>5% Depreciation</p>
						</td>
						<td>
							<h2>Item 2</h2>
							<p>Currently $285.00</p>
							<p>5% Depreciation</p>
						</td>
						<td>
							<h2>Item 3</h2>
							<p>Currently $285.00</p>
							<p>5% Depreciation</p>
						</td>
						<td>
							<h2>Item 4</h2>
							<p>Currently $285.00</p>
							<p>5% Depreciation</p>
						</td>
						<td>
							<h2>Item 5</h2>
							<p>Currently $285.00</p>
							<p>5% Depreciation</p>
						</td>
					</tr>
					<tr>
						<td>
							<h2>Item 6</h2>
							<p>Currently $285.00</p>
							<p>5% Depreciation</p>
						</td>
						<td>
							<h2>Item 7</h2>
							<p>Currently $285.00</p>
							<p>5% Depreciation</p>
						</td>
						<td>
							<h2>Item 8</h2>
							<p>Currently $285.00</p>
							<p>5% Depreciation</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>